body {
    background-color: #352315;
    color: pink;
}

.header-container {
    text-align: center;
    background-color: #704a2c;

}

.Himage {
    margin-left: 0;
    text-align: left;
}


.header-container img {
    height: 100px;
}

nav {
    text-align: center;
}

nav a {
    color: pink;
    margin: 0 10px;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: pink;
    margin-top: 0;
}

.hobbies-container {
    border: 2px solid pink;
    padding: 10px;
    margin-bottom: 20px;
}
